
body {
  overflow-x: hidden;
  opacity: 1;
  transition: 2.3s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

.bg {
  position: fixed;
  left: -300px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: #f4eeeb;
  margin: 0px;

  animation: AnimationName 70s linear infinite;
  background-size: 200%;
}

@keyframes AnimationName {
  0% {
     transform: translateX(0);
   }
   50% {
     transform: translateX(200px);
   }
   0% {
      transform: translateX(0);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}


header {
  background: #f4eeeb;

  text-align: center;
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  height: 50vh;

}



header .title {


  margin-left: auto;
  margin-right: auto;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header .title h1 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 3em;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 6em;

  letter-spacing: 0.7em;
  padding-left: 1em;
  margin-top: 4vh;
}

header .title h2 {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;

  font-size: 0.9em;
  font-weight: 100;
  letter-spacing: 1.13em;
  padding-left: 2em;
  margin-top: -18vh;
  padding-top: 30px;
}


/* Video background */

.videobg {
  position: relative;
  width: 100%; /* Set video container element width here */
  height: 100%; /* Set video container element height here */
  overflow: hidden;
  background: #f4eeeb url('../images/vidbg.png') center center no-repeat; /* bg color, if video is not high enough */

  -webkit-clip-path: polygon(50% 6%, 100% 20%, 98% 65%, 50% 100%, 2% 65%, 0% 20%);
  clip-path: polygon(50% 6%, 100% 20%, 98% 65%, 50% 100%, 2% 65%, 0% 20%);


}

/* horizontally center the video */
.videobg-width {
  position: absolute;
  width: 100%; /* Change width value to cover more area*/
  height: 100%;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

/* set video aspect ratio and vertically center */
.videobg-aspect {
  position: absolute;
  width: 100%;
  height: 0;
  top: -9999px;
  bottom: -9999px;
  margin: auto;
  padding-bottom: 56.25%; /* 16:9 ratio */
  overflow: hidden;

}

.videobg-make-height {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.videobg-hide-controls {
  box-sizing: content-box;
  position: relative;
  height: 100%;
  width: 100%;
  /* Vimeo timeline and play button are ~55px high */
  padding: 55px 97.7777px; /* 16:9 ratio */
  top: -55px;
  left: -97.7777px; /* 16:9 ratio */
}

.videobg iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 0 none;
}












/* filters styling */


.filter-button-group {
  text-align: center;
  padding: 20px;
  margin-top: 38px;
  margin-bottom: 30px;
}

.button-group button, .button-group a, .button-group a:visited{
  font-size: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px 20px;


  color: #404040;
  cursor: pointer;
  text-decoration: none;

  transition: all 0.4s ease-in-out;



    box-shadow:
    inset 0 7em 10em -5em rgba(255,255,255,0.6),
    0 0.3em 0.5em -0.2em rgba(47,131,189,1),
    0 1em 2em -0.75em rgba(47,131,189,0.75),
    0 1em 3em -0.5em rgba(47,131,189,0.5),
    0 3em 3em -0.25em rgba(47,131,189,0.2);

}

.button-group button {
  background: none;
  margin-left: 10px;
  margin-right: 10px;
}


/* Styling the hover and current active filter */
.button-group button:hover, .button-group .is-checked  {
  cursor: pointer;
  background: rgba(12, 128, 208, 1);
  color: #FFF;
  text-shadow: none;
  transition: all 0.4s ease-in-out;


    box-shadow:
    inset 0 7em 10em -5em rgba(255,255,255,0),
    0 0.3em 0.5em -0.2em rgba(47,131,189,1),
    0 1em 2em -0.75em rgba(47,131,189,0.75),
    0 1em 3em -0.5em rgba(47,131,189,0.5),
    0 3em 3em -0.25em rgba(47,131,189,0.2);
}

.button-group button:focus, .button-group button:active {

}



h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  color: #FFF;
  letter-spacing: 0.2em;
  margin-bottom: 3.3em;
}

.home {
  text-align: center;
}


.grid {
  margin: 0 auto;
  padding: 0px 0px;
  text-align: center;

}

.grid-item {
  text-align: center;
  width: 28%;
  margin: 1.8%;
  position: relative;

  padding: 0px;
  border: 8px solid #FFF;

}

.grid-item img {
  width: 100%;
  position: relative;


  box-shadow:
  inset 0 7em 10em -5em rgba(255,255,255,0.6),
  0 0.3em 0.5em -0.2em rgba(47,131,189,1),
  0 1em 2em -0.75em rgba(47,131,189,0.75),
  0 1em 3em -0.5em rgba(47,131,189,0.5),
  0 3em 3em -0.25em rgba(47,131,189,0.2);
}

.grid-item a {
    text-decoration: none;
}
.grid-item a:visited {
  color: inherit;
}



.grid-item .projtitle {

  color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0px;

  padding: 10px;

  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.8;*/
  outline-offset: 8px;
  outline: 2px solid rgba(255, 255, 255, 0.8);

}


.grid-item.storyboards h6, .grid-item.assignments h6{
  display: inherit;
}


footer {
  color: #FFF;
  text-align: center;
  padding: 50px;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.2em;
  z-index: 1000;
  transition: all 0.8s ease-in-out;
}

footer a, footer a:visited{
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;

  color: #120A13;
  background: #FFF;
  outline-offset: 8px;
  outline: 2px solid #FFF;
  padding: 20px;

  transition: all 0.8s ease-in-out;
}

footer a:hover {
  background: #281c5c;
  color: #FFF;
  outline-color: #281c5c;


  transition: all 0.8s ease-in-out;
}




/*Customized mfp popup styles*/

.mfp-content {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.mfp-bottom-bar {

}


/* Mobile*/
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  {

   header {
     height: 26vh;
   }

   header .title h1 {
     font-size: 56px;
     line-height: 1em;
     margin-top: 9vh;
     text-shadow: 0px 0px 2px #555;
   }
   header .title h2 {
     font-size: 24px;
     line-height: 2em;
     margin-top: -2vh;
   }

   .button-group button {
     width: 100%;
     margin-bottom: 20px;
   }

  .grid {
    padding: 0px;
  }

   .grid-item {
    width: 95%;
    margin-bottom: 20px;
   }

}





/*Flexbox and footerfix*/

/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */


.Site {
  display: flex;
  flex-direction: column;
  height: 100%; /* 1, 3 */
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
}

.Site-header,
.Site-footer {
  flex: none; /* 2 */
}

.Site-content {
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 100%;
}
.Site-content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}
@media (--break-lg) {
  .Site-content {
    padding-top: var(--space-lg);
  }
  .Site-content::after {
    margin-top: var(--space-lg);
  }
}

.Site-content--full {
  padding: 0;
}
.Site-content--full::after {
  content: none;
}
