html, body {
  background: #efefef;
}

body {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

.head {
  background: #FFF;
  box-shadow: 1px 1px 1px 2px #ebe8e8;
  display: flex;
}

  .hamburger {
    padding: 5px 20px;
    font-size: 40px;
  }

  .breadcrumb {
    text-transform: uppercase;
    padding: 19px;
    font-size: 16px;

  }

  .breadcrumb span.arrow {
    padding: 0px 10px;
    font-weight: bold;
    /* font-size: 30px; */
  }

  .breadcrumb span.active {
    color: #E8283B;
  }

  .logo {
    margin-left: auto;
  }

  .logo img{
    height: 45px;
    width: auto;
    padding: 6px;
  }

.hero {
  text-align: center;
}

  .hero h1 {
    text-transform: uppercase;
    color: #3e3d3d;
    font-size: 40px;
    margin-bottom: 10px;
  }

  .hero h1 span.bold{
    font-weight: 700;
    color: #E8283B;
  }

  .hero h5 {
    color: #aca8a8;
    margin-top: 0px;
    font-size: 20px;
    font-weight: 100;
  }

.content {
  display: flex;
}

  .left {
    background: #FFF;
    width: 28.5%;
    margin-left: 1%;
    margin-right: 0.5%;
    box-shadow: 0px 0px 2px 2px #c4c2c2;
  }

  .left .category {
  }

  .left .category h1 {
    background: #E8283B;
    padding: 20px;
    margin: 0px;
    font-size: 14px;
    color: #FFF;
  }

  .left ul{
    margin: 0;
    padding: 20px;
  }
  .left ul li {
    list-style: none;
    margin-bottom: 10px;
  }
  .left ul li i {
    padding-right: 10px;
  }

  .left ul li i.active {
    color:  #E8283B;
  }




  .right {
    margin-left: auto;
    width: 68.5%;
    margin-right: 1%;
    margin-left: 0.5%
  }

  .right .toprow{
    display: flex;
  }
  .right .toprow .rowtab {
    font-size: 14px;
    background: #383535;
    color: #FFF;
    width: 33.3%;
    padding: 14px;
    text-align: center;
    border-bottom: 4px solid #EFEFEF;
  }

  .right .toprow .rowtab i {
    padding-left: 10px;
  }

  .right .toprow .active {
    border-bottom: 4px solid #E8283B;
  }


  .right .vidcomp {
    display: flex;
    background: #FFF;
    padding: 2%;
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px 2px #c4c2c2;
  }

    .right .vidcomp .vidnum {
      width: 8%;
      margin-right: 2%;
      text-align: center;
      display: flex;
      flex-direction: column;
    }
      .right .vidcomp .vidnum .num{
         margin: 0 auto;
         background: #000;
         color: #FFF;
         border-radius: 100%;
         height: 2em;
         width: 2em;
         text-align: center;
      }
      .right .vidcomp .vidnum span{
        font-size: 1.4em;
      }
      .right .vidcomp .vidnum i{
        margin-top: 40px;
        color: #E8283B;
        font-size: 35px;
      }

    .right .vidcomp .vidthumb {
      width: 32%;
      align-items: center;
      display: flex;
    }

    .right .vidcomp .vidthumb .thumb{
      width: 50%;
    }

    .right .vidcomp .vidthumb .thumbdesc{
      width: 50%;
      padding: 10px;
      font-size: 0.8em;
    }

    .right .vidcomp .vidthumb .thumbdesc .thumbtitle{
      color: #37c3bb;
      padding-bottom: 10px;
    }

    .right .vidcomp .vidthumb .thumbdesc .fa-flag {
      color: #E8283B;
      padding-right: 10px;
    }


    .right .vidcomp .vidgraph {
      width: 20%;
    }

      .right .vidcomp .vidgraph img, .right .vidcomp .vidstats img  {
        height: 100px;
        /* making images here instead of flex css for brevity's sake */
      }

    .right .vidcomp .vidstats {
      width: 40%;
    }


  @media only screen and (max-width: 768px){

    .head {
      width: 100%;
    }

    .hamburger, .logo {
      padding-top: 8px;
    }

    .breadcrumb {
      font-size: 0.6em;
      padding-top: 22px;
      padding-left: 0px;
      width: 50%;
      display: flex;
      flex-wrap:wrap;
    }

    .content {
      flex-direction: column;
    }

    .left {
      width: 96%;
      margin: 0px auto 40px;
      text-align: center;
    }

    .right {
      width: 96%;
      margin: 0 auto;
      text-align: center;
    }

    .right .vidcomp {
      flex-wrap: wrap;
    }

    .right .vidcomp .vidnum i {
      margin-top: auto;
    }

    .right .vidcomp .vidthumb {
      width: 80%;
      padding-left: 2%;
      padding-bottom: 20px;
    }

    .right .vidcomp .vidgraph {
      width: 30%;
      padding-left: 10%;
    }

    .right .vidcomp .vidstats{
      width: 60%;
    }

    .right .vidcomp .vidgraph img, .right .vidcomp .vidstats img {
      width: 90%;
      height: auto;
    }




  }
